@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto+Mono&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#skill:hover > #grad-div {
  opacity: 1;
}

#link:hover > #link-icon > div {
  opacity: 1;
}

#link-url a, #project-link {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color font-size 500ms;
}

#link:hover > #link-url > a { text-decoration: underline; }
#link-url a:hover, #project-link:hover { text-decoration-color: rgba(255, 255, 255, 1); }

#skill:hover > #skill-name {
  display: hidden;
  opacity: 0;
}

#skill:hover > #skill-icon {
  display: block;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.nav-link {
  background: linear-gradient(to right, #C824EC, #DF308D);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}